/* Sin espacios */
*{
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}
h1,h2{
  margin-top: 30px;
}

p{
  margin-top: 10px;
}
/* Titulo */
h1 {
  font-family: 'Lora', serif;
  color: #FE7E00;
  font-size: 40px ;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}


/*Contenido de la fila conteiner*/
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:stretch;
  background-color: #e8ec74;
  padding: 7px 10px 0px 10px;
}
/*Alinear el titulo a la derecha*/
.navbar-brand{
  justify-content: start;
}
/*Dentro del brand alinear el mini logo*/
.navbar-brand p{
display: flex;
flex-direction: row;
align-items:stretch;
justify-content: center;
}

/*Dejar sin decoracion H! y login*/
.container a {
  text-decoration: none;
}
.container a:hover,.container h1:hover{
  text-shadow: 2px 2px 2px #250;
}

.login a{
  color: #9B9643;
  font-size:23px;
  text-shadow: 1px 1px 1px #220;
  text-align:center;
}

#logo-img {
  background: url('../images/logos/logo.png') no-repeat;
  background-size: 100% 100%;
  width: 150px;
  height: 150px;
  margin: 0px 15px 10px 0;
}
